
@{
    ViewBag.Title = "Seller_Product";
    Layout = "~/Views/Shared/SellerLayout.cshtml";
}

<main>
    <div class="container" style="margin-bottom:60px; margin-top:50px; width:100%; margin-left:auto;margin-right:auto">
        <table class="display" style="width:100%" id="example">
            <thead>
                <tr>
                    <th style="font-size:12px;">Id</th>
                    <th style="font-size:12px;">Name</th>
                    <th style="font-size:12px; width:80px; height:80px;">Image</th>
                    <th style="font-size:12px;">Price</th>
                    <th style="font-size:12px;">Category</th>
                    <th style="font-size:12px;">Sub Category 1</th>
                    <th style="font-size:12px;">Sub Category 2</th>
                    <th style="font-size:12px;">Brand</th>
                    <th style="font-size:12px;">Qty</th>
                    <th style="font-size:12px;"></th>
                    <th style="font-size:12px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.spv)
                {
                    <tr>
                        <td style="font-size:12px;">@item.id</td>
                        <td style="font-size:12px;">@item.pName</td>
                        <td style="font-size:12px; width:80px; height:80px;"><img src="@item.image" style="width:80px; height:80px; object-fit:scale-down" class="responsive-img" /></td>
                        <td style="font-size:12px;">@item.price.ToString("#,###")</td>
                        <td style="font-size:12px;">@item.catName</td>
                        <td style="font-size:12px;">@item.subCatName</td>
                        <td style="font-size:12px;">@item.subSubCatName</td>
                        <td style="font-size:12px;">@item.BrandName</td>
                        <td style="font-size:12px;">@item.qty</td>
                        <td style="font-size:12px;"><a class=" tooltipped material-icons grey-text text-darken-4" data-position="bottom" data-tooltip="Delete Product" href='@Url.Action("RemoveProduct","Seller", new { productID = item.id })'>delete</a></td>
                        <td style="font-size:12px;"><a class="" href='@Url.Action("EditProduct","Seller", new { productID = item.id })'>edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
<script>
    //$(document).ready(function () {
    //    $("#myInput").on("keyup", function () {
    //        var value = $(this).val().toLowerCase();
    //        $("#myTable tbody tr").filter(function () {
    //            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //        });
    //    });
    //});
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        
        $('#example thead tr').clone(true).appendTo('#example thead');
        $('#example thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            if (title !== "" || title !== "Image") {
                $(this).html('<input type="text" style="font-size:12px;" placeholder="' + title + '" />');
            }
            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });
        var table = $('#example').DataTable({
            responsive: true,
            orderCellsTop: true,
            fixedHeader: true,
            
        });
        
    });
</script>